<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>CineTrac - ReadMore</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/index.css">
</head>

<body>
  <div class="hero">
    <img src="/images/desktop-wallpaper-movie-theater-background-movie-cinema.jpg" alt="Hero Image">
  </div>

  <!-- Details Section -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="details-container">
          <h2>Title: Black Widow</h2>
          <p><strong>Director:</strong> Character originated in comic books</p>
          <p><strong>Release Year:</strong> 1964 (First appearance in "Tales of Suspense" #52)</p>
          <p><strong>Genre:</strong> Superhero, Action, Spy, Adventure</p>
          <img src="/images/look__movies_delayed_due_to_the_coronavirus_black_widow_1586253022.jpg" alt="Details Image" class="details-img">
          <p>Black Widow, a fictional superhero in Marvel Comics, was introduced in 1964 in "Tales of Suspense" #52,
            created by writer Stan Lee, scripter Don Rico, and artist Don Heck. Natasha Romanoff, portrayed by Scarlett
            Johansson in the Marvel Cinematic Universe (MCU), is a highly skilled spy, martial artist, and expert
            marksman. Initially depicted as an antagonist, she evolves into a key member of S.H.I.E.L.D. and the
            Avengers, characterized by a complex narrative involving espionage, betrayal, and redemption. Renowned for her
            exceptional combat skills and strategic acumen, Black Widow's popularity extends across comics and movies,
            solidifying her status as a symbol of resilience and strength in the Marvel Universe.</p>
          <div class="details-btn">
            <button type="button" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and Popper.js -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
